* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Arcade";
  src: url("ARCADECLASSIC.TTF");
}

body {
  padding: 100px;
  color: #fff;
  background-color: #141414;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  font-family: "Arcade";
  font-size: 1.3em;
  transition: all .3s;
}

.descr {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.descr-title {
  font-size: 1.5em;
}

.restart {
  border: none;
  background-color: #fff;
  color: #000;
  font-family: "Arcade";
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 15px #fff;
  border-radius: 5px;
  padding: 5px 10px;
  transition: box-shadow 0.3s;
}

.restart:hover {
  box-shadow: 0 0 20px #fff;
}
.restart:active{
    background-color: #000;
    color: #fff;
}

.secret {
  width: 100px;
  height: 100px;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7em;
  position: relative;
  font-family: "Arcade";
  box-shadow: 0 0 30px #fff;
}

.secret::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 50%;
  left: -100%;
  transform: translateY(-50%);
}

.secret::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 50%;
  right: -100%;
  transform: translateY(-50%);
}

.game-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 200px;
}

.game-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.user-input {
  background: transparent;
  border: 3px solid #fff;
    font-size: 4em;
    height: 100px;
    padding: 15px;
    width: 200px;
    font-family: 'Arcade';

  color: #fff;

}

.check {
  border: none;
  background-color: #fff;
  color: #000;
  font-family: "Arcade";
  font-size: 2.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 15px #fff;
  border-radius: 5px;
  padding: 3px 5px;
  transition: box-shadow 0.3s;
}

.check:hover {
  box-shadow: 0 0 20px #fff;
}
.check:active{
    background-color: rgb(88, 88, 88);
    color: #fff;
}
.game-results{
    display: grid;
    place-items: center;
}
