.player {
  position: relative;
  padding-inline: 1rem;
  padding-bottom: 6rem;
  background: linear-gradient(
    180deg,
    var(--primary-color) 0%,
    var(--background-color) 100%
  );
  border-radius: 0.0001px;
  button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    &:hover {
      background-color: var(--background-color);
    }
    &:active {
      transform: scale(0.95);
    }
    @media (max-width: 900px) {
      width: 25px;
      height: 25px;
      font-size: 1rem;
    }
  }
}

#audioPlayer {
  width: 100%;
  display: none;
}
#audioPlayer::-webkit-media-controls {
  display: none;
}
.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  @media (max-width: 400px) {
    gap: 0.5rem;
  }
}

.hidden {
  display: none;
}
.playlist-overlay {
  left: 0;
  background-color: oklch(from var(--background-color) 50% c h);

  padding-inline: 1rem;
  position: absolute;
  z-index: 2;
  width: 100%;
}
.playlist {
  margin-top: 1rem;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.track {
  padding: 0.8rem 1rem;
  margin: 0.4rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: oklch(from var(--primary-color) 60% c h);
  }
  &.active {
    background-color: oklch(from var(--primary-color) 80% c h);
    color: var(--background-color);
  }
}
@mixin progressBarThumb(
  $size: 18px,
  $color: var(--primary-color),
  $border: none
) {
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: $size;
    height: $size;
    border-radius: 50%;
    background: $color;
    cursor: pointer;
    border: $border;
  }

  &::-moz-range-thumb {
    width: $size;
    height: $size;
    border-radius: 50%;
    background: $color;
    cursor: pointer;
    border: $border;
  }

  // Для Firefox
  &::-moz-focus-outer {
    border: 0;
  }
}

#progressBar {
  width: 100%;
  height: 6px;
  appearance: none;
  background: oklch(from var(--primary-color) 60% c h);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  @include progressBarThumb();
}

#volumeSlider {
  width: 100px;
  margin-left: auto;
}
