@use "audio-player.scss";

@font-face {
  font-family: "EpilepsySans";
  src: url("/fonts/EpilepsySans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "EpilepsySans";
  src: url("/fonts/EpilepsySansBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
:root {
  --primary-color: #c8c8c8;
  --background-color: #141414;
}
[data-theme="light"] {
  --primary-color: #141414;
  --background-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "EpilepsySans";
}

nav {
  padding-block: 0.5rem;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: start;
}

button {
  background-color: var(--primary-color);
  border: none;
}
.changeTheme {
  padding: 1rem;
  width: 8rem;
  height: 4rem;
  display: grid;
  place-items: center;
}
.moon-icon,
.sun-icon {
  width: 3rem;
  height: 3rem;
  fill: var(--background-color);
}

.moon-icon,
.sun-icon {
  position: absolute;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

[data-theme="light"] .sun-icon,
[data-theme="dark"] .moon-icon {
  opacity: 1;
  transform: scale(1);
}

[data-theme="light"] .moon-icon,
[data-theme="dark"] .sun-icon {
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

body {
  color: var(--primary-color);
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  padding-bottom: 5rem;
}

button {
  cursor: pointer;
}

.hide {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.descr {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.descr-title {
  font-size: 1.5em;
}

.restart {
  border: none;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 15px var(--primary-color);
  border-radius: 5px;
  padding: 5px 10px;
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 0 0 20px var(--primary-color);
  }
  &:active {
    background-color: var(--background-color);
    color: var(--primary-color);
  }
}

.secret {
  width: 100px;
  height: 100px;
  background-color: var(--primary-color);
  color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7em;
  position: relative;
  box-shadow: 0 0 30px var(--primary-color);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
    top: 50%;
    right: -100%;
    transform: translateY(-50%);
  }
}

.game-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12rem;
  @media (max-width: 900px) {
    gap: 6rem;
  }
  @media (max-width: 500px) {
    gap: 2rem;
  }
}

.game-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.user-input {
  background: transparent;
  border: 3px solid var(--primary-color);
  font-size: 4em;
  height: 100px;
  padding: 15px;
  width: 200px;

  color: var(--primary-color);
}

.check {
  border: none;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 2.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 15px var(--primary-color);
  border-radius: 5px;
  padding: 3px 5px;
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 0 0 20px var(--primary-color);
  }
  &:active {
    background-color: rgb(88, 88, 88);
    color: var(--primary-color);
  }
}

.game-results {
  display: grid;
  place-items: center;
}
.toast {
  position: fixed;

  bottom: 0;
  right: 0;
  opacity: 0;
  transform: translateY(100%);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &-success {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
  }

  &-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;

  .github-link,
  .telegram-link {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 3rem;
    margin-inline: 1rem;
    &:hover {
      transform: scale(1.2);
      text-shadow: 0 0 1rem var(--background-color);
    }
  }

  #copyMailBtn {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    background-color: var(--background-color);
    border: 1px solid gray;
    padding-inline: 0.4rem;
    font-size: 1.5rem;
    &:active {
      transform: translateY(2px);
    }
  }
}
